@media screen and (min-width:0px) and (max-width:500px){
    *{
        width: 100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    header h1{
        text-align: center;
    }
    header#cabecalho2{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
    }
    section{
        width: 100%;
        margin: 8px ; 
        border-radius: 10px;
    }
    section article{
        width: 100%;
        padding: 8px;
        background-color: transparent;
        justify-content: flex-start;
    }
    header#cabecalho2 h2{
        width: 100%;
        font-size: 8pt;
        margin: 0px -10px 0px 10px;
        text-align: center;
    }
    section article:nth-last-of-type(2){
        width: 100%; 
        margin:0 auto;
        padding: 5px;
    }
    section article img{
        margin-top: 20px;
        max-width:100%;
    }
    section article#img div p{
        font-size: 10pt;
        text-indent: 10px;
    }
    section article#abil{
        width: 100%;
        margin: 5px;
        margin-left: 10px;
        color: white;
        text-transform: uppercase;
    }
    section article#abil progress{
        height: 8px;
        width: 80px;
    }
    section article#abil p:nth-last-of-type(1){
        margin-top: 10px;
        font-size: 8pt;
    }
    section article#abil p{
        font-size: 8pt;
    }
    footer{
        margin-top: 10px;
    }
    footer div{
       text-align: center;
    }

    }